
trigger:
  branches:
    include:
    - main
    - feature/*

pool: Remote_Agent



stages:
  - stage: Build
    displayName: Terraform install
    jobs:
      - job: Terraforminstalljob
        steps:
        - task: Bash@3
          inputs:
            targetType: 'inline'
            script: |
              # Write your commands here
              
              echo 'Install ZIP'
              sudo apt install unzip
        - task: TerraformInstaller@1
          inputs:
            terraformVersion: 'latest'
  - stage: Terraforminit
    displayName: TerraformInit
    jobs:
      - job: 
        steps:
        - task: TerraformInstaller@1
          inputs:
            terraformVersion: 'latest'
        - task: TerraformTask@5
          inputs:
            provider: 'azurerm'
            command: 'init'
            workingDirectory: '$(System.DefaultWorkingDirectory)/env/dev'
            backendServiceArm: 'aniket'
            backendAzureRmResourceGroupName: 'backend-rg02'
            backendAzureRmStorageAccountName: 'backendstg03'
            backendAzureRmContainerName: 'aniket'
            backendAzureRmKey: 'dev.tfstate'
  - stage: 
    displayName: Terraform plan
    jobs:
      - job: 
        steps:
        - task: DownloadSecureFile@1
          name: terraformTfvars 
          inputs:
            secureFile: 'terraform.tfvars'
        - task: Bash@3
          inputs:
            targetType: 'inline'
            script: |
              # Write your commands here
              echo 'Copy tfvars to working directory'
              echo "Copying terraform.tfvars to env/dev"
              cp "$(terraformTfvars.secureFilePath)" "$(System.DefaultWorkingDirectory)/env/dev/terraform.tfvars"
        - task: TerraformTask@5
          inputs:
            provider: 'azurerm'
            command: 'plan'
            workingDirectory: '$(System.DefaultWorkingDirectory)/env/dev'
            environmentServiceNameAzureRM: 'aniket'