trigger: none
  # branches:
  #   exclude:
  #     - feature/*
  #     - main

# ---------- PARAMETERS ----------
parameters:
- name: environment
  type: string
  default: dev
  values:
    - dev
    - qa
    - prod

# ---------- VARIABLES ----------
variables:
- name: TF_WORKDIR
  value: '$(System.DefaultWorkingDirectory)/env/${{ parameters.environment }}'

pool:
  name: Remote_Agent

stages:
- stage: TerraformBuild
  displayName: 'Terraform ${{ parameters.environment }}'
  jobs:
  - job: TerraformBuild
    displayName: 'Terraform Build - ${{ parameters.environment }}'
    steps:
    - task: TerraformTask@5
      displayName: 'Terraform init'
      inputs:
        provider: 'azurerm'
        command: 'init'
        workingDirectory: '$(TF_WORKDIR)'
        backendServiceArm: 'aniket'
        backendAzureRmStorageAccountName: 'backendstg03'
        backendAzureRmContainerName: 'aniket'
        backendAzureRmKey: '${{ parameters.environment }}.tfstate'

    - task: TerraformTask@5
      displayName: 'Terraform plan'
      inputs:
        provider: 'azurerm'
        command: 'validate'
        workingDirectory: '$(TF_WORKDIR)'


