
trigger:
  branches:
    include:
    - main
    - feature/*

pool: Remote_Agent



stages:
  - stage: Build
    displayName: Terraform install
    jobs:
      - job: Terraforminstalljob
        steps:
        - task: TerraformInstaller@1
          inputs:
            terraformVersion: 'latest'
         
