
trigger:
  branches:
    include:
    - main
    - feature/*

pool: Remote_Agent



stages:
  - stage: Build
    displayName: Terraform install
    jobs:
      - job: Terraforminstalljob
        steps:
        - task: Bash@3
          inputs:
            targetType: 'inline'
            script: |
              # Write your commands here
              
              echo 'Install ZIP'
              sudo apt install unzip
        - task: TerraformInstaller@1
          inputs:
            terraformVersion: 'latest'
         
